.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main .body {
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}

.player {
  min-height: 140px;
  z-index: 100;
  position: relative;
}
